* sumbitted by - Manjula kuncha
* project title - Amazon Sales Data Analysis
* Technologies -python, powerbi 
* Domain -Ecommerce
* Difficulty Level- Advanced

AMAZON SALES EDA AND VISUVALIZATON

# import libraries

In [77]:
import numpy as np  #for numeric operations
import pandas as pd #to analyse,clean,filter,manipulate ,explore datasets
import matplotlib.pyplot as plt #Data visuvalization and analysis
%matplotlib inline
import seaborn as sns #for advance visuvalizations with matplotlib
from IPython.display import Image  #importing libary to display the image
import os #import operating system to direct the folders
import datetime # datetime is useful to date_time series analysis

# ignore warnings:

In [78]:
import warnings
warnings.simplefilter(action="ignore",category=FutureWarning)

# PROBLEM:
Sales management has gained importance to meet increasing competition and theneed for improved methods of distribution to reduce cost and to increase profits. Salesmanagement today is the most important function in a commercial and business
enterprise.
Do ETL: Extract-Transform-Load some Amazon dataset and find for me
Sales-trend -> month-wise, year-wise, yearly_month-wise
Find key metrics and factors and show the meaningful relationships between
attributes.

# loading dataset by using pandas

In [79]:
sales=pd.read_csv("/kaggle/input/amazonsales-analyzing/Amazon Sales data.csv")
sales

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,5/28/2010,669165933,6/27/2010,9925,255.28,159.42,2533654.00,1582243.50,951410.50
1,Central America and the Caribbean,Grenada,Cereal,Online,C,8/22/2012,963881480,9/15/2012,2804,205.70,117.11,576782.80,328376.44,248406.36
2,Europe,Russia,Office Supplies,Offline,L,5/2/2014,341417157,5/8/2014,1779,651.21,524.96,1158502.59,933903.84,224598.75
3,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,6/20/2014,514321792,7/5/2014,8102,9.33,6.92,75591.66,56065.84,19525.82
4,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,2/1/2013,115456712,2/6/2013,5062,651.21,524.96,3296425.02,2657347.52,639077.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Sub-Saharan Africa,Mali,Clothes,Online,M,7/26/2011,512878119,9/3/2011,888,109.28,35.84,97040.64,31825.92,65214.72
96,Asia,Malaysia,Fruits,Offline,L,11/11/2011,810711038,12/28/2011,6267,9.33,6.92,58471.11,43367.64,15103.47
97,Sub-Saharan Africa,Sierra Leone,Vegetables,Offline,C,6/1/2016,728815257,6/29/2016,1485,154.06,90.93,228779.10,135031.05,93748.05
98,North America,Mexico,Personal Care,Offline,M,7/30/2015,559427106,8/8/2015,5767,81.73,56.67,471336.91,326815.89,144521.02
99,Sub-Saharan Africa,Mozambique,Household,Offline,L,2/10/2012,665095412,2/15/2012,5367,668.27,502.54,3586605.09,2697132.18,889472.91

# About Dataset
 This dataset have 1 csv file with 100 rows  and 14 columns:
 * Region: name of the region
 * Country: name of the country
 * Item Type: item categorie
 * SalesChannel: mode of sales
 * Order Priority: priority
 * Order Date: date of order
 * Order ID	: order id number
 * Ship Date: shipping date
 * Units Sold: how many units 
 * Unit Price: price of one unit
 * Unit Cost: cost of one unit
 * Total Revenue: total revenue
 * Total Cost:total cost
 * Total Profit:peofit gained by amazon

# Data Proccesing
* explorings rows and columns

In [80]:
sales.head()#first5 columns of dataset

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,5/28/2010,669165933,6/27/2010,9925,255.28,159.42,2533654.00,1582243.50,951410.50
1,Central America and the Caribbean,Grenada,Cereal,Online,C,8/22/2012,963881480,9/15/2012,2804,205.70,117.11,576782.80,328376.44,248406.36
2,Europe,Russia,Office Supplies,Offline,L,5/2/2014,341417157,5/8/2014,1779,651.21,524.96,1158502.59,933903.84,224598.75
3,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,6/20/2014,514321792,7/5/2014,8102,9.33,6.92,75591.66,56065.84,19525.82
4,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,2/1/2013,115456712,2/6/2013,5062,651.21,524.96,3296425.02,2657347.52,639077.50

In [81]:
sales.tail(5) #bottom 5  columns of dataset

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
95,Sub-Saharan Africa,Mali,Clothes,Online,M,7/26/2011,512878119,9/3/2011,888,109.28,35.84,97040.64,31825.92,65214.72
96,Asia,Malaysia,Fruits,Offline,L,11/11/2011,810711038,12/28/2011,6267,9.33,6.92,58471.11,43367.64,15103.47
97,Sub-Saharan Africa,Sierra Leone,Vegetables,Offline,C,6/1/2016,728815257,6/29/2016,1485,154.06,90.93,228779.10,135031.05,93748.05
98,North America,Mexico,Personal Care,Offline,M,7/30/2015,559427106,8/8/2015,5767,81.73,56.67,471336.91,326815.89,144521.02
99,Sub-Saharan Africa,Mozambique,Household,Offline,L,2/10/2012,665095412,2/15/2012,5367,668.27,502.54,3586605.09,2697132.18,889472.91

In [82]:
sales.describe()  #gives the summary about the dataset in detailed form

,Order ID,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
count,1.000000e+02,100.000000,100.000000,100.000000,1.000000e+02,1.000000e+02,1.000000e+02
mean,5.550204e+08,5128.710000,276.761300,191.048000,1.373488e+06,9.318057e+05,4.416820e+05
std,2.606153e+08,2794.484562,235.592241,188.208181,1.460029e+06,1.083938e+06,4.385379e+05
min,1.146066e+08,124.000000,9.330000,6.920000,4.870260e+03,3.612240e+03,1.258020e+03
25%,3.389225e+08,2836.250000,81.730000,35.840000,2.687212e+05,1.688680e+05,1.214436e+05
50%,5.577086e+08,5382.500000,179.880000,107.275000,7.523144e+05,3.635664e+05,2.907680e+05
75%,7.907551e+08,7369.000000,437.200000,263.330000,2.212045e+06,1.613870e+06,6.358288e+05
max,9.940222e+08,9925.000000,668.270000,524.960000,5.997055e+06,4.509794e+06,1.719922e+06

In [ ]:
sales.info()#gives the information like datatypes and null count for every columns and rows in dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Region          100 non-null    object
 1   Country         100 non-null    object
 2   Item Type       100 non-null    object
 3   Sales Channel   100 non-null    object
 4   Order Priority  100 non-null    object
 5   Order Date      100 non-null    object
 6   Order ID        100 non-null    int64
 7   Ship Date       100 non-null    object
 8   Units Sold      100 non-null    int64
 9   Unit Price      100 non-null    float64
 10  Unit Cost       100 non-null    float64
 11  Total Revenue   100 non-null    float64
 12  Total Cost      100 non-null    float64
 13  Total Profit    100 non-null    float64
dtypes: float64(5), int64(2), object(7)
memory usage: 11.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Region          100 non-null    object
 1   Country         100 non-null    object
 2   Item Type       100 non-null    object
 3   Sales Channel   100 non-null    object
 4   Order Priority  100 non-null    object
 5   Order Date      100 non-null    object
 6   Order ID        100 non-null    int64
 7   Ship Date       100 non-null    object
 8   Units Sold      100 non-null    int64
 9   Unit Price      100 non-null    float64
 10  Unit Cost       100 non-null    float64
 11  Total Revenue   100 non-null    float64
 12  Total Cost      100 non-null    float64
 13  Total Profit    100 non-null    float64
dtypes: float64(5), int64(2), object(7)
memory usage: 11.1+ KB

In [ ]:
type(sales) #dataset type is  dataframe as it is the combination of  mutlple series

In [ ]:
type(sales["Unit Cost"])  #single column in dataset will be consider as series

In [ ]:
sales.shape # shape of the dataset

In [ ]:
sales.index  #index of dataframe from starting to end range will be shown

In [ ]:
sales.columns#values in dataframe will appear

In [ ]:
sales.set_index('Order ID',inplace=True)#for setting customized index

In [ ]:
sales.head(5)

In [ ]:
sales.reset_index(inplace=True)

# Data cleaning
* Data cleaning is the process of fixing or removing incorrect, null,corrupted, incorrectly formatted, duplicate, or incomplete data within a dataset.

# benfitis of data cleaning
* Error free data
* Acurracy and effiency
* Data quality
* Data consistency

In [ ]:
print(sales.isnull().sum()) # no null values in  columns

**There are no null values in amazon sales dataset if there are any null  values we must handle them or drop them before doing EDA,modelling, visuvalization**

In [ ]:
sales.duplicated(subset=['Region', 'Country', 'Item Type', 'Sales Channel', 'Order Priority',
       'Order Date', 'Order ID', 'Ship Date', 'Units Sold', 'Unit Price',
       'Unit Cost', 'Total Revenue', 'Total Cost', 'Total Profit'])
#checks for duplicates in this dataset

In [ ]:
sales.drop_duplicates(subset=['Region', 'Country', 'Item Type', 'Sales Channel', 'Order Priority',
       'Order Date', 'Order ID', 'Ship Date', 'Units Sold', 'Unit Price',
       'Unit Cost', 'Total Revenue', 'Total Cost', 'Total Profit'])
len(sales)   #the length before drop duplicates and after is same therefore there are no dupliacates in dataset
#if length and drop duplicates changes then there are duplicates

In [ ]:
sales.size  #gives the size of dataframe

In [ ]:
sales.ndim  #this dataframe is 2d array

**after removing null values and duplicates from dataset now the data is efficent for the modelling,visuvalization and analysis **

#  Exploratory Data  Analysis & Visualization
* EDA plays an important role in Data Analysis
* Explanatory data analytics focuses on all the parts of context, mainly the why and how. An outcome can be statistically calculated, modeled, or visualized to tell you the likelihood of certain events based on preconceived variables.

In [ ]:
sales.iloc[20:30:2]  #accesing dataframes with iloc accessor where range is excluive

In [ ]:
sales["Item Type"].value_counts()

**Top 3 items  categories which are sold in amazon are**
* clothes
* cosemtics
* office supplies

# calculating year sales

In [ ]:
import datetime # to get the date, year and month from order date
sales["years"]=pd.to_datetime(sales['Order Date']).dt.year
sales["month"]=pd.to_datetime(sales['Order Date']).dt.month
sales["date"]=pd.to_datetime(sales['Order Date']).dt.date

In [ ]:
sales.head() # new columns has been added to dataframe

In [ ]:
year_sales=sales[['Region', 'Country', 'Item Type', 'Sales Channel', 'Order Priority',
       'Order Date', 'Order ID', 'Ship Date', 'Units Sold', 'Unit Price',
       'Unit Cost', 'Total Revenue', 'Total Cost', 'Total Profit','years','month','date']]

In [ ]:
yearly_sales=year_sales.groupby('years').sum().reset_index()
sns.catplot(y= "Total Revenue",x='years' ,data= yearly_sales ,palette ="Blues",kind ="bar")
plt.xlabel("years")
plt.ylabel("revenue")
plt.title("yearly sales in amazon")
yearly_sales[['years',"c"]]

**Observation**:
* by the above graph we can say that the revenue genrated by amazon in 2012,2010,2017  is higher than other years
* in 2011 amazon generated least revenue 
* sales continously dropping from 2010.

# calculating yearly_monthly sales of amazon

In [ ]:
plt.figure(figsize = (15,8)) 
sns.lineplot(y = "Total Revenue", x="month", data=sales.groupby (['date', 'years', 'month']).sum(),
             hue ='years', palette='bright')

*Observation*:
* the sales of amazon are mostly increasing first quater and last quater of the year
* until 2017 dec the highest revenue genrated by amazon happened in 2010 janurary.

In [ ]:
plt.figure(figsize=(16,6))

plt.pie('Total Profit', labels = 'years', data=yearly_sales, autopct = '%1.2f%%', shadow= True, startangle = 90)

plt.axis('equal')

plt.title('Yearly % Profit')

plt.legend (round (sales['Total Profit'],2), loc =7, fontsize ="xx-large")

plt.show()

**observation**:
* year 2012 has gained more profit than remaining years.
* followed by 2012 ,2013,2010 has gained more profit 
* from 2012 to 2015 the profit has been gradually decreasing

**sales channel impact on sales**

In [ ]:
plt.figure(figsize=(10,4))
sales['Sales Channel'].value_counts().plot.bar()
plt.xlabel("offline vs online")
plt.ylabel("count")
plt.show()

**observation:**
* by the above graph we can clarify that the chanel of sales is not much effecting on the increasing of sales

**order priority impact on sales**

In [ ]:
plt.figure(figsize=(10,4))
sales['Order Priority'].value_counts().plot.pie()
plt.xlabel("order priority")
plt.ylabel("count")
plt.show()

**observation:**
* by the above graph we can clarify that the order priority is not much effecting on the increasing of sales
* "H" priority orders are more placed  on amazom sales

In [ ]:
yearly_monthly_sales=sales.groupby(['years','month']).sum().reset_index()

In [ ]:
sns.histplot()